[submodule "vim/vim.symlink/bundle/pathogen"]
	path = vim/vim.symlink/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/coffee-script"]
	path = vim/vim.symlink/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "sublime2/Packages/CoffeeScript"]
	path = sublime2/Packages/CoffeeScript
	url = git://github.com/Xavura/CoffeeScript-Sublime-Plugin.git
[submodule "sublime2/Packages/Theme - Soda"]
	path = sublime2/Packages/Theme - Soda
	url = git://github.com/buymeasoda/soda-theme
[submodule "sublime2/Packages/Git"]
	path = sublime2/Packages/Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "sublime2/Packages/Cucumber"]
	path = sublime2/Packages/Cucumber
	url = git://github.com/drewda/cucumber-sublime2-bundle.git
[submodule "sublime2/Packages/CoffeeScriptHaml"]
	path = sublime2/Packages/CoffeeScriptHaml
	url = git@github.com:jisaacks/CoffeeScriptHaml.git
